[submodule "raylib/raylib"]
	path = raylib/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "raylib/raygui"]
	path = raylib/raygui
	url = https://github.com/raysan5/raygui.git
[submodule "thirdparty/cJSON/cJSON"]
	path = thirdparty/cJSON/cJSON
	url = git@github.com:DaveGamble/cJSON.git
